[submodule "vendor/librw"]
	path = vendor/librw
	url = https://github.com/GaryOderNichts/librw
[submodule "vendor/openal-soft"]
	path = vendor/openal-soft
	url = https://github.com/GaryOderNichts/openal-soft
